extends /lib/layout/sidebar_page.jade
block bodyid
  - var pageid = "work";
block content
  div.content
    div.section#gyrobot
      h2 Gyrobot
      div
        p.
          This project was completed in the spring semester of 2016 at Clemson University. The link below refers to a small report about the project and the video shows a quick outline of the gyrobot as well as a demo of the gyrobot in action.
        p.
          Of course neither the report nor the video can accurately explain the project so I've added the project requirements given to us. In case there are any further questions please do not hesitate to ask me via email.
      div.links
        a(href="/gyrobot_report.pdf")
          div.linktext Gyrobot Report (PDF)
        a(href="https://youtu.be/7xufM1VGkFk")
          div.linktext Video
        a(href="/gyrobot_requirements.pdf")
          div.linktext Gyrobot Requirements (PDF)
        a(href="https://github.com/eabderh/gy1-controls")
          div.linktext Source Code (Github)
    div.section
      h2
      div
        span PS: I am planning on adding more projects in the near future.

      //div link
