extends /lib/layout/sidebar_page.jade
block bodyid
  - var pageid = "info";
block content
  div.content
    div.section#Info
      h2 Info
      div.description
        p.
          Please feel free to contact me at anytime! Just in case I am not reachable please check with the website, I might have updated my email address or posted new info.
      div.boxitems
        div.item
          a(href="mailto:elias2494@gmail.com").
            Mail: <br>
            elias2494@gmail.com
          div elias2494@gmail.com
        div.item
          a(href="tel:1-248-924-9753").
            Google Voice: <br>
            1-248-924-9753
        div.item
          a(href="/Resume.pdf") Resume (PDF)
        div.item
          a(href="/Resume.docx") Resume (Docx)
      //div link
