
$sidebar_width: 16rem;
$logo_height: 8rem;

$primary: #E12727;
$secondary: #3A3939;

$media_sm: ">0px", "<=800px";
$media_bg: ">800px";

@import "layout";


html, body {
	//font-family: Geneva,Tahoma,Verdana,sans-serif;
	//font-family: Andale Mono, AndaleMono, monospace;
	//font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-family: Consolas,monaco,monospace;

	color: white;
	@include media($media_bg...) {
		font-size: 12pt;
	}
	@include media($media_sm...) {
		font-size: 8pt;

	min-height: 10rem;
	}
}



a {
	color: inherit;
	text-decoration: none;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 2rem;
}
h1, h2, p {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

$logo_height: 8rem;
$logo_margin: 3rem;
$content_margin: 3rem;

@include media($media_sm...) {
	$logo_height: 3rem;
	$logo_margin: 0.5rem;
	$content_margin: 2rem;

	.page:after {
		display: none;
	}
	.logo-bar svg#redkite_eight_icon {
		margin: $logo_margin auto;
		height: $logo_height;
	}
	.title {
		margin-bottom: 3rem;
	}
	.index > * {
		width: 50vw;
		display: block;
		text-align: center;
		padding: 0.8rem 2.0rem;
		margin: 1.5rem auto;
		font-size: 1.5rem;
		font-weight: bold;
		border: white solid 2px;
		border-radius: 20px;
		background: $secondary;
	}

	.content-container {
		flex: 0 0 auto;
		width: 100vw;
		&:before {
			display: block;
			content: '';
			width: 100vw;
			height: $logo_height + $logo_margin * 2;
			background: $primary;
		}
	}
	.content {
		margin: $content_margin $content_margin;
	}
	.right-align {
		text-align: left;
	}
}
@include media($media_bg...) {

	.view {
		background-image: url("matterhorn.jpg");
		background-position: 100% 100%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
	.page:after {
		display: block;
	}
	.sidebar {
		box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.5);
	}
	.content-container {
		background: rgba(0,0,0,0.5);
		flex: 0 1 auto;
	}
	.content {
		margin: $content_margin $content_margin;
	}
	.right-align {
		text-align: right;
	}
	.index > * {
		display: block;
		text-align: center;
		padding: 0.8rem 2.0rem;
		//margin-bottom: 1.5rem;
		font-size: 1.5rem;
		font-weight: bold;
	}

}

.view {
	background-image: url("pattern.png");
	//background-color: rgba(255,255,255,0.5);
}


.page:after {
	content: '';
	flex: 1 0 auto;
	width: 100%;
}



.sidebar {
	background: $primary;
	.title {
		text-align: center;
	}
}

.logo-container,
.logo-bar {
	background: $primary;
}


svg#redkite_eight_icon {
	display: block;
	height: $logo_height;
	margin: $logo_margin auto;
	#group {
		fill: #FFFFFF;
	}
}




.content {
	//margin: $logo_height/2 4rem;
	height: 1000px;
	h2 {
		padding-bottom: 2rem;
	}
}


// pushes the content box left and therefore minimizes it to smallest length
// possible without breaking the words it contains












