
$sidebar_width: 16rem;
$logo_height: 8rem;

$primary: #E12727;
$secondary: #3A3939;

$media_sm: ">0px", "<=600px";
$media_bg: ">600px";

@import "layout";


@include media($media_sm...) {
	.view {
		background: none;
	}
}
@include media($media_bg...) {
}

html, body {
	//font-family: Geneva,Tahoma,Verdana,sans-serif;
	//font-family: Andale Mono, AndaleMono, monospace;
	//font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-family: Consolas,monaco,monospace;

	color: white;
	@include media($media_bg...) {
		font-size: 12pt;
	}
	@include media($media_sm...) {
		font-size: 8pt;

	min-height: 10rem;
	}
}



a {
	color: inherit;
	text-decoration: none;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 2rem;
}
h1, h2, p {
	-webkit-font-smoothing: antialiased;
}



.view {
	background-image: url("matterhorn.jpg");
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

//.view {
//	background-image: url("pattern.png");
//	//background-position: 100% 100%;
//	//background-repeat: no-repeat;
//	//background-size: cover;
//}
.logo-container,
.logo-bar {
	svg#redkite_eight_icon {
		display: block;
		margin: 2rem auto;
		height: $logo_height;
		#group {
			fill: #FFFFFF;
		}
	}
}
.sidebar {
	background: $primary;
	box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.5);
}


.content-container {
	background: rgba(0,0,0,0.5);
	flex: 0 1 auto;
}
.content {
	margin: $logo_height/2 4rem;
	h2 {
		text-align: right;
		padding-bottom: 2rem;
	}
}


// pushes the content box left and therefore minimizes it to smallest length
// possible without breaking the words it contains
.page:after {
	content: '';
	flex: 1 0 auto;
	width: 100%;
}












