html
  head
    link(href="index.css", rel="stylesheet")
  body
    div(class="sidebar")
      div(class="logo")
        img(src="logo.png")
      div(class="navigation")
        div(class="image")
    div(class="page-container")
      div(class="page")
        div(class="topbar")
          div(class="title") Elias Abderhalden
        div(class="image-container")
          div(class="image")
            div(class="crop")
              img(src="matterhorn.jpg")
        //div(class="content")
        //  p test test test text stest setes ste steste etesteef dsfs
        //  p test test test text stest setes ste steste etesteef dsfs
        //  p test test test text stest setes ste steste etesteef dsfs
          //img(src="https://tafttest.com/200x100.png")
        //img(src="http://placehold.it/200x200")
        //img(src="pattern.png")
