html
  head
    link(href="index.css", rel="stylesheet")
  body
    div(class="sidebar")
      div(class="logo")
        img(src="http://placehold.it/200x200")
      div(class="navigation") test navigation
    div(class="page")
      div(class="title")
        h1 Elias Abderhalden
      div(class="image-container")
        div(class="image")
          div(class="crop")
            img(src="matterhorn.jpg")
      div test test test text stest setes ste steste etesteef dsfs
        //img(src="https://tafttest.com/200x100.png")
