html
  head
    link(href="index.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    //script(src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.js")
    //script.
    //  jQuery(document).on("mobileinit", function() {
    //    jQuery.mobile.autoInitializePage = false;
    //  });
    //script(src="https://cdn.jsdelivr.net/jquery.mobile/1.4.5/jquery.mobile.min.js")
    //script(src="index.js")
    div(class="view")
      div(class="page showindex flexrow")
        div(class="sidebar-container")
          div(class="sidebar flexcolumn")
            div(class="logo-container")
              div(id="logo") logo
            div(class="title") title
            div(class="index") index
        div(class="content") content
      div(class="nav-container")
        div(class="logo-container")
          div(id="logo") logo
        div(class="nav-button")
