div.index
  - var links = ["elias", "info", "work", "bio"];
  - var linknames = ["Elias", "Info", "Work", "Bio"];
  - var symbol = ["fa-sun-o", "fa-info-circle", "fa-terminal", "fa-heart"];
  //- var symbol = ["fa-sun-o", "fa-info-circle", "fa-code", "fa-heart"];
  each val,index in links
    a(class="dualitem " + val + " colorgradient" + index href="/" + val)
      div.linkname= linknames[index]
      i(class="fa " + symbol[index])

