div.index
  a.colorgradient1.dualitem(href="elias")
    div Elias
    i(class="fa fa-sun-o")
  a.colorgradient2.dualitem(href="work")
    div Work
    i(class="fa fa-code")
  a.colorgradient3.dualitem(href="bio")
    div Bio
    i(class="fa fa-heart")
