extends /lib/layout.jade
block variables
  - var pageid = "elias";
block content
  div.title
    h1 ELIAS
    h1 ABDERHALDEN
    h2.right-align Computer Engineer
  div.body
    p Thank you for visiting my site! It is still in development but getting better every day.
