doctype html
html
  head
    link(href="index.css", rel="stylesheet")
  body
    div(class="sidebar")
      div(class="logo")
        img(src="https://tafttest.com/200x200.png")
      div(class="navigation") test navigation
    div(class="page")
      div(class="title") elias
      div(class="image")
        img(src="matterhorn.jpg")

