* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	/*font: 12pt "lucida console", monaco, monospace;*/
	font: 12pt "monospace", monospace;
	/*-webkit-font-smoothing: antialiased;*/
}


.table-main {
	display: table;
	height: 100%;
	width: 100%;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

#fixed-header {
	width: 100%;
	position: fixed;
	margin: 1em;
	font-size: 40pt;
}



#title {
	width: 100%;
	font-weight: bold;
	text-align: left;
	color: white;
	background-color: #E12727;
	padding: 0em 1em;
	box-shadow: 15px 15px 40px 0px black;
}


#body {
	width: 40%;
	text-align: left;
	vertical-align: middle;
	background-color: white;
	padding: 0.5em 1em;
	height: 100%;
	box-shadow: 15px 15px 40px 0px black;
}

#margin {
	text-align: center;
	padding: 0.5em 1em;
}



ul {
	font-size: 14pt;
	list-style: none;
	/*margin-left: 2em;
	margin-top: 2em;
	margin-bottom: 2em;*/
}

ul li {
	margin-bottom: 1em;
}




.image {
	max-width: 4704px;
	max-height: 3136px;
	background-image: url(matterhorn.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	margin: 0 auto;
	background-attachment: fixed;
}

.image:after {
	content: " ";
	display: block;
	width: 100%;
	padding-top: 4.918%;
	height: 950px;
}



#list {
	margin: 0 auto;
	background-color: white;
}


