* {
	margin: 0;
	padding: 0;
}

html, body {
	/*
	background-color: #FFFFFF;
	*/
	width: 100%;
	height: 100%;
	/*font: 12pt "lucida console", monaco, monospace;*/
	font: 12pt "monospace", monospace;
	font-size: 0pt;
	/*-webkit-font-smoothing: antialiased;*/
}



#fixed-header {
	width: 100%;
	margin: 1em;
	font-size: 0pt;
}


#spacer {
	content: " ";
	position: fixed;
	width: 100%;
	height: 2em;
	background: inherit;
	font-size: 40pt;
}

#title {
	width: auto;
	font-weight: bold;
	text-align: left;
	padding-left: 0.5em;
	font-size: 40pt;
	display: table-cell;
	vertical-align: middle;
}

#title-container {
	margin-top: 2em;
	margin-left: 10%;
	position: fixed;
	width: 80%;
	height: 15%;
	color: white;
	background-color: #E12727;
	box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.5);
	font-size: 40pt;
	display: table;
}
/*#title:before {
	/*position: fixed;
	width: 100%;
	height: 40px;
	padding: 0.5em 1em;
	font-size: 40pt;
	background: inherit;
	content: " ";
	display: block;
	padding-top: 4.918%;
}*/


#body-container {
	margin-left: 10%;
	width: 80%;
	overflow: hidden;
	box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.5);
	font-size: 40pt
}


#fixed {
}


#body {
	margin-top: 4em;
	text-align: left;
	vertical-align: middle;
	background-color: white;
	padding: 0.5em 1em;
	height: 100%;
	width: 40%;
}

#margin {
	text-align: center;
	padding: 0.5em 1em;
	box-shadow: -15px -15px 40px 0px rgba(0, 0, 0, 0.5);
}



#body h1 {
	font-size: 14pt;
	margin-top: 2em;
	margin-bottom: 2em;
}

#body p {
	font-size: 14pt;
	margin-top: 2em;
	margin-bottom: 1em;
}

#body br {
	font-size: 14pt;
}

#body ul {
	font-size: 14pt;
	margin-left: 2em;
	list-style-type: square;
}

#body ul li {
	margin-bottom: 2pt;
}


#margin ul {
	font-size: 14pt;
	list-style: none;
}

#margin ul li {
	margin-bottom: 0.4em;
}



#image {
	max-width: 4704px;
	max-height: 3136px;
	background-image: url(matterhorn.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	margin: 0 auto;
	background-attachment: fixed;
	font-size: 0pt;
	overflow: auto;
}

#image:after {
	content: " ";
	display: block;
	width: 100%;
	padding-top: 5%;
	/*
	padding-top: 4.918%;
	height: 950px;
	*/
}


/*
#image:before {
	content: " ";
	display: block;
	width: 100%;
	padding-top: 4.918%;
	height: 2em;
}
*/
a,a:link {
	color: inherit;
	text-decoration: none;
}
a:visited {
	color: grey;
	text-decoration: none;
}
a:hover,a:focus{
	color: inherit;
	text-decoration: underline;
}
a:active {
	color: inherit;
	text-decoration: underline;
}


